# **NOTEBOOK FOR CLEANING AND AGGREGATING THE `SYNTHEA` DATASET**

**I need to create some aggregated tables, in order to proceed in my analysis**

## **Creating Connections with the database**

In [1]:
%load_ext autoreload
%autoreload 2
import sys, os
sys.path.append(os.path.abspath(r"C:\Users\Rano's PC\Machine\github_repo_cloned\my-personal-projects\synthea readmission analysis"))
import pandas as pd
import numpy as np
from sqlalchemy import create_engine,text

import src.functions as F

In [2]:
engine = F.get_engine()

In [3]:
engine

Engine(mysql+pymysql://root:***@localhost:3306/synthea_medical_dataset)

## **Cleaning process of the data and creating aggregated tables**

In [4]:
necessary_tables = ['encounters','careplans',
                    'conditions','medications',
                    'procedures','patients','providers']

In [5]:
F.select('encounters').head(1)

,Id,start,stop,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION,duration
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e002090d-4e92-300e-b41e-7d1f21dee4c6,e6283e46-fd81-3611-9459-0edb1c3da357,6e2f1a2d-27bd-3701-8d08-dae202c58632,ambulatory,185345009,Encounter for symptom,129.16,129.16,54.16,10509002.0,Acute bronchitis (disorder),25.0

In [6]:
F.find_nulls('encounters')

           column_names  null_values
0   BASE_ENCOUNTER_COST            0
1                  CODE            0
2           DESCRIPTION            0
3              duration            0
4        ENCOUNTERCLASS            0
5                    Id            0
6          ORGANIZATION            0
7               PATIENT            0
8                 PAYER            0
9        PAYER_COVERAGE            0
10             PROVIDER            0
11           REASONCODE        39569
12    REASONDESCRIPTION        39569
13                start            0
14                 stop            0
15     TOTAL_CLAIM_COST            0

In [ ]:
# Reforming the date values
query = """
update encounters
set start = str_to_date(
    trim(replace(replace(replace(start, '"', ''), '\r', ''), '\n', '')),
    '%Y-%m-%dT%H:%i:%sZ'
);
"""
F.run(query)

query = """
ALTER TABLE encounters
MODIFY start datetime;
"""
F.run(query)

In [ ]:
# Reforming the date values
query = """
update encounters
set stop = str_to_date(
    trim(replace(replace(replace(stop, '"', ''), '\r', ''), '\n', '')),
    '%Y-%m-%dT%H:%i:%sZ'
);
"""
F.run(query)

query = """
ALTER TABLE encounters
MODIFY stop datetime;
"""
F.run(query)

In [10]:
F.sql('select count(distinct code) as total_code, count(distinct description) as total_description from encounters')

   total_code  total_description
0          43                 49

In [11]:
F.sql('select count(distinct reasoncode) as total_code, count(distinct reasondescription) as total_description from encounters')

   total_code  total_description
0          80                 80

In [12]:
F.select('encounters').head(1)

,Id,start,stop,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION,duration
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e002090d-4e92-300e-b41e-7d1f21dee4c6,e6283e46-fd81-3611-9459-0edb1c3da357,6e2f1a2d-27bd-3701-8d08-dae202c58632,ambulatory,185345009,Encounter for symptom,129.16,129.16,54.16,10509002.0,Acute bronchitis (disorder),25.0

In [13]:
query = '''
    alter table encounters
    add column duration float
'''
F.run(query)

OperationalError: (pymysql.err.OperationalError) (1060, "Duplicate column name 'duration'")
[SQL:
    alter table encounters
    add column duration float
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
query = '''
    update encounters
    set duration = timestampdiff(minute,start,stop)
'''
F.run(query)

In [ ]:
F.select('encounters').head(1)

,Id,start,stop,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION,duration
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e002090d-4e92-300e-b41e-7d1f21dee4c6,e6283e46-fd81-3611-9459-0edb1c3da357,6e2f1a2d-27bd-3701-8d08-dae202c58632,ambulatory,185345009,Encounter for symptom,129.16,129.16,54.16,10509002.0,Acute bronchitis (disorder),25.0

In [14]:
encounters_agg = F.sql('''
    select id as encounter,
    start,stop,patient,provider,encounterclass,base_encounter_cost,payer_coverage,duration
                       from encounters
''')

***

In [15]:
F.select('careplans')

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,d2500b8c-e830-433a-8b9d-368d30741520,2010-01-23,2012-01-23,034e9e3b-2def-4559-bb2a-7850888ae060,d0c40d10-8d87-447e-836e-99d26ad52ea5,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
1,07d9ddd8-dfa1-4e43-9bfe-39f63f4ace15,2011-05-13,2011-08-02,10339b10-3cd1-4ac3-ac13-ec26728cb592,e1ab4933-07a1-49f0-b4bd-05500919061d,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
2,a3bb6e99-3b99-44b3-974c-e230b4511b5c,2011-12-31,2012-11-30,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,16300c56-a035-4126-a656-68c093da6dfc,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
3,9f5284b7-425a-486a-b36e-ab818c018f2f,2016-12-29,2017-01-05,034e9e3b-2def-4559-bb2a-7850888ae060,3b639086-5fbc-4720-8c31-e8c8c0f1d660,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
4,47ede16c-c216-4f81-a16b-0e858de9cdc3,2017-01-22,2017-02-12,10339b10-3cd1-4ac3-ac13-ec26728cb592,4ec8d55b-05fc-42a5-bfa3-1e233874a362,225358003,Wound care,284551006.0,Laceration of foot

In [16]:
query = '''
    select encounter,
    min(start) as careplan_start,
    max(stop) as careplan_end,
    case when max(stop) is null then 1 else 0 end as is_ongoing_careplan,
    count(distinct code) as total_careplans
    from careplans
    group by encounter
'''
careplan_agg = F.sql(query)

***

In [17]:
F.select('conditions')

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2001-05-01,None,1d604da9-9a81-4ba9-80c2-de3375d59b40,8f104aa7-4ca9-4473-885a-bba2437df588,40055000,Chronic sinusitis (disorder)
1,2011-08-09,2011-08-16,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,9d35ec9f-352a-4629-92ef-38eae38437e7,444814009,Viral sinusitis (disorder)
2,2011-11-16,2011-11-26,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,ae7555a9-eaff-4c09-98a7-21bc6ed1b1fd,195662009,Acute viral pharyngitis (disorder)
3,2011-05-13,2011-05-27,10339b10-3cd1-4ac3-ac13-ec26728cb592,e1ab4933-07a1-49f0-b4bd-05500919061d,10509002,Acute bronchitis (disorder)
4,2011-02-06,2011-02-14,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,b8f76eba-7795-4dcd-a544-f27ac2ef3d46,195662009,Acute viral pharyngitis (disorder)

In [18]:
query = '''
    select encounter,
    min(start) as condition_start,
    max(stop) as condition_end,
    case when max(stop) is null then 1 else 0 end as is_ongoing_condition,
    count(distinct code) as total_conditions
    from conditions
    group by encounter
'''
condition_agg = F.sql(query)

***

In [19]:
F.select('medications')

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2010-05-05T00:26:23Z,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,1e0d6b0e-1711-4a25-99f9-b1c700c9b260,389221,Etonogestrel 68 MG Drug Implant,677.08,0.0,12,8124.96,NaN,None
1,2011-04-30T00:26:23Z,2012-04-24T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,389221,Etonogestrel 68 MG Drug Implant,624.09,0.0,12,7489.08,NaN,None
2,2012-04-24T00:26:23Z,2013-04-19T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,7253a9f9-6f6d-429a-926a-7b1d424eae3f,748856,Yaz 28 Day Pack,43.32,0.0,12,519.84,NaN,None
3,2011-05-13T12:58:08Z,2011-05-27T12:58:08Z,10339b10-3cd1-4ac3-ac13-ec26728cb592,d47b3510-2895-3b70-9897-342d681c769d,e1ab4933-07a1-49f0-b4bd-05500919061d,313782,Acetaminophen 325 MG Oral Tablet,8.14,0.0,1,8.14,10509002.0,Acute bronchitis (disorder)
4,2011-12-08T15:02:18Z,2011-12-22T15:02:18Z,1d604da9-9a81-4ba9-80c2-de3375d59b40,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,792fae81-a007-44b0-8221-46953737b089,562251,Amoxicillin 250 MG / Clavulanate 125 MG Oral T...,11.91,0.0,1,11.91,444814009.0,Viral sinusitis (disorder)

In [20]:
query = '''
    select encounter, 
    count(distinct code) as total_medicines,
    round(avg(base_cost),2) as avg_base_medicine_cost,
    round(avg(totalcost),2) as avg_total_medicine_cost,
    count(distinct reasoncode) as reasons_for_medications 
    from medications
    group by encounter;
'''
medicine_agg = F.sql(query)

***

In [21]:
F.select('procedures')

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,169553002,Insertion of subcutaneous contraceptive,14896.56,NaN,None
1,2010-07-27T12:58:08Z,10339b10-3cd1-4ac3-ac13-ec26728cb592,dae2b7cb-1316-4b78-954f-fa610a6c6d0e,430193006,Medication Reconciliation (procedure),726.51,NaN,None
2,2010-11-20T03:04:34Z,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,7ff86631-0378-4bfc-92ce-1edd697eb18e,430193006,Medication Reconciliation (procedure),788.50,NaN,None
3,2011-02-07T03:04:34Z,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,b8f76eba-7795-4dcd-a544-f27ac2ef3d46,117015009,Throat culture (procedure),2070.44,195662009.0,Acute viral pharyngitis (disorder)
4,2011-04-19T03:04:34Z,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,640837d9-845a-433c-9fad-47426664a69d,117015009,Throat culture (procedure),2479.39,195662009.0,Acute viral pharyngitis (disorder)

In [22]:
query = '''
    select encounter, 
    count(distinct code) as total_procedures,
    round(avg(base_cost),2) as avg_procedure_cost
    from procedures
    group by encounter
'''
procedure_agg = F.sql(query)

***

In [23]:
F.select('patients')

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,None,999-76-6866,S99984236,X19277260X,Mr.,Jos Eduardo181,Gmez206,None,...,Marigot Saint Andrew Parish DM,427 Balistreri Way Unit 19,Chicopee,Massachusetts,Hampden County,1013.0,42.228354,-72.562951,271227.08,1334.88
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,None,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,None,...,Danvers Massachusetts US,422 Farrell Path Unit 69,Somerville,Massachusetts,Middlesex County,2143.0,42.360697,-71.126531,793946.01,3204.49
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,None,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,None,...,Springfield Massachusetts US,1056 Harris Lane Suite 70,Chicopee,Massachusetts,Hampden County,1020.0,42.181642,-72.608842,574111.90,2606.40
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,None,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,None,...,Yarmouth Massachusetts US,999 Kuhn Forge,Lowell,Massachusetts,Middlesex County,1851.0,42.636143,-71.343255,935630.30,8756.19
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,None,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,None,...,Patras Achaea GR,1050 Lindgren Extension Apt 38,Boston,Massachusetts,Suffolk County,2135.0,42.352434,-71.028610,598763.07,3772.20

In [24]:
query = '''
    select
    id as patient_id,
    case when 
    deathdate is null then timestampdiff(year,birthdate,"2021-12-31") 
    else timestampdiff(year,birthdate,deathdate)
    end as age_as_2022,
    marital,
    race,
    ethnicity,
    gender as patient_gender
    from patients;
'''
patient_agg = F.sql(query)

***

In [25]:
F.select('providers')

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,LAT,LON,UTILIZATION
0,3421aa75-dec7-378d-a9e0-0bc764e4cb0d,ef58ea08-d883-3957-8300-150554edc8fb,Tomas436 Sauer652,M,GENERAL PRACTICE,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,1557
1,c9b3c857-2e24-320c-a79a-87b8a60de63c,69176529-fd1f-3b3f-abce-a0a3626769eb,Suzette512 Monahan736,F,GENERAL PRACTICE,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,2296
2,0359f968-d1a6-30eb-b1cc-e6cc0b4d3513,5e765f2b-e908-3888-9fc7-df2cb87beb58,Gaynell126 Streich926,F,GENERAL PRACTICE,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,2287
3,446d1609-858f-3a54-8a52-0c4eacedd00e,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,Patricia625 Salgado989,F,GENERAL PRACTICE,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,1327
4,e6283e46-fd81-3611-9459-0edb1c3da357,e002090d-4e92-300e-b41e-7d1f21dee4c6,Jeanmarie510 Beatty507,F,GENERAL PRACTICE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,3199

In [26]:
query = '''
    select id as provider_id,
    gender as provider_gender,
    utilization 
    from providers;
'''
provider_agg = F.sql(query)

In [27]:
encounters_agg.sample(1)

,encounter,start,stop,patient,provider,encounterclass,base_encounter_cost,payer_coverage,duration
50615,37178f7d-c509-4b8f-8f4a-a1814364f60d,2019-02-25 01:03:54,2019-02-25 01:33:54,25a40443-e66c-4c78-8b13-a8610ab6b8cc,4f9b2577-72b0-395b-8a00-f195cbdb4e54,wellness,129.16,129.16,30.0

## **Viewing the aggregated tables**

In [28]:
agg_tables = [encounters_agg,patient_agg,careplan_agg,procedure_agg,condition_agg,medicine_agg,provider_agg]

In [29]:
for table in agg_tables:
    display(table.sample(3))

,encounter,start,stop,patient,provider,encounterclass,base_encounter_cost,payer_coverage,duration
3047,f3d4920f-8829-4198-9a37-cd9fdcab5870,2016-06-02 04:42:48,2016-06-02 05:12:48,8d1ba4bb-7250-4295-be1c-5d0d423e55f7,c34ddc76-71c9-3d25-abaf-d325050bffe9,wellness,129.16,129.16,30.0
32540,5ccc47d7-aa22-4622-9bb6-216dcb8b90b9,2001-05-27 07:25:07,2001-05-27 07:55:07,3ef4c7dc-28c2-4436-b0cc-fa858e2e6c90,dc5ae10e-9506-3343-b87b-a81232af888d,wellness,129.16,69.16,30.0
24865,761ff643-c0e5-40aa-a8c6-7ac8e3ff86c7,2015-11-22 06:46:19,2015-11-22 07:01:19,ba1525cd-efbe-40b3-ad47-e4a670c8d802,e97095d8-12e1-3acd-a9e7-1af073328bfe,urgentcare,129.16,0.00,15.0

,patient_id,age_as_2022,marital,race,ethnicity,patient_gender
677,fd0b3930-9d0a-45e4-a63f-deb872627381,22,None,white,nonhispanic,F
356,d10ef59e-2231-467e-bbd0-c76c73f04f95,33,M,white,nonhispanic,F
764,dfc7b1ae-1583-4d88-970d-02712d55070c,1,None,white,nonhispanic,F

,encounter,careplan_start,careplan_end,is_ongoing_careplan,total_careplans
410,1ee3b2b8-90ee-44f8-8b27-e53f8336ddd2,2010-08-31,2011-03-29,0,1
2291,a709d16b-90e2-4c7e-81be-9125d501dc35,1994-02-12,None,1,1
2450,b26d3ee2-b4e3-461f-8501-6ac709f278d5,2019-09-12,None,1,1

,encounter,total_procedures,avg_procedure_cost
6231,4b5d44f2-91d6-4cd0-86b3-a32515a10e0d,1,8385.70
2587,1f802b33-c357-44c6-b075-2dd1c1218f0c,3,11199.61
16807,cc210efc-e6b5-47ba-bd27-561561706a0d,1,10103.55

,encounter,condition_start,condition_end,is_ongoing_condition,total_conditions
6902,e59e4adf-d195-4784-a949-b6e9f6296989,2014-03-20,2014-10-23,0,1
4891,a21eae89-8fc4-49e8-ab37-b67c9475ae0e,2018-07-22,2018-08-05,0,1
1342,2d3de86e-aec9-446f-8db3-3c517f4f0892,2013-11-11,2013-11-18,0,1

,encounter,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications
14142,84a6d3ee-c1ba-4431-98cc-5487e8a4ce53,3,258.50,517.01,2
2187,14a49cd6-cc66-4116-8722-786aa3d453a3,1,263.49,3161.88,1
7785,4994fae8-43d0-49fc-98d1-439c54cd60a6,1,263.49,3161.88,1

                               provider_id provider_gender  utilization
4608  94675fb2-c894-39f1-9628-5230396eb8a4               M            0
1181  6cb7eaef-34e5-3643-8004-627a9f2d78e7               F           26
5262  8f03a7d7-9382-3cab-a15e-c5f8f5016998               M            0

In [30]:
encounters_agg.columns = encounters_agg.columns.str.lower()

In [31]:
encounters_agg.rename(columns={'patient':'patient_id','provider':'provider_id'},inplace=True)

## **Forming the aggregated dataset**

In [76]:
data = (encounters_agg.merge(procedure_agg,on='encounter',how='left')
    .merge(medicine_agg,on='encounter',how='left')
    .merge(condition_agg,on='encounter',how='left')
    .merge(careplan_agg,on='encounter',how='left')
    .merge(patient_agg,on='patient_id',how='left')
    .merge(provider_agg,on='provider_id',how='left'))

In [77]:
pd.set_option('display.max_columns',None)

In [78]:
data.head()

,encounter,start,stop,patient_id,provider_id,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e6283e46-fd81-3611-9459-0edb1c3da357,ambulatory,129.16,54.16,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-01-23,2012-01-23,0.0,1.0,38,M,white,nonhispanic,M,F,3199
1,e88bc3a9-007c-405e-aabc-792a38f4aa2b,2012-01-23 17:45:28,2012-01-23 18:00:28,034e9e3b-2def-4559-bb2a-7850888ae060,6f1d59a7-a5bd-3cf9-9671-5bad2f351c28,wellness,129.16,129.16,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,M,white,nonhispanic,M,F,33
2,8f104aa7-4ca9-4473-885a-bba2437df588,2001-05-01 15:02:18,2001-05-01 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,af01a385-31d3-3c77-8fdb-2867fe88df2f,ambulatory,129.16,0.00,15.0,NaN,NaN,NaN,NaN,NaN,NaN,2001-05-01,None,1.0,1.0,NaN,NaN,NaN,NaN,32,M,white,hispanic,M,M,2585
3,b85c339a-6076-43ed-b9d0-9cf013dec49d,2011-07-28 15:02:18,2011-07-28 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,bb17e691-262b-3546-93d5-d88e7de93246,wellness,129.16,0.00,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,M,white,hispanic,M,F,58
4,dae2b7cb-1316-4b78-954f-fa610a6c6d0e,2010-07-27 12:58:08,2010-07-27 13:28:08,10339b10-3cd1-4ac3-ac13-ec26728cb592,7ed6b84a-b847-3744-9d42-15c42297a0c2,wellness,129.16,129.16,30.0,1.0,726.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,M,white,nonhispanic,M,M,59

## **Cleaning the aggregated data**

In [79]:
# 1. PREPARE DATA (NO COPY)
data['start'] = pd.to_datetime(data['start'])
data = data.sort_values(['patient_id', 'start'])

# 2. SELF-MERGE USING data
dup = data.merge(
    data,
    on='patient_id',
    how='inner',
    suffixes=('_first', '_second')
)

# 3. FILTER A  B WITHIN 30 DAYS
dup = dup[
    (dup['start_second'] > dup['start_first']) &
    (dup['start_second'] <= dup['start_first'] + pd.Timedelta(days=30))
]

# 4. ADD COLUMN DIRECTLY TO data
data['caused_readmission'] = 0
data.loc[data['encounter'].isin(dup['encounter_first']), 'caused_readmission'] = 1

In [80]:
data.sample(1)

,encounter,start,stop,patient_id,provider_id,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
2911,bb9111f8-cfa3-4c0c-b811-a0fab98120c0,2019-12-30 17:24:07,2019-12-30 18:39:07,ed5cc81e-619f-471d-aee6-2934124c58e4,de75d491-eca3-343c-90a0-a32824647526,ambulatory,129.16,64.16,75.0,4.0,3248.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,M,white,nonhispanic,F,M,1376,1

In [81]:
data.drop(columns=['encounter','patient_id','provider_id'],inplace=True)

In [82]:
data.rename(columns={'start':'encounter_start','end':'encounter_finish'},inplace=True)

In [83]:
data.sample(1)

,encounter_start,stop,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
25274,1952-10-23 01:22:58,1952-10-23 01:37:58,ambulatory,129.16,0.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,1952-10-22,1952-11-12,0.0,1.0,NaN,NaN,NaN,NaN,79,M,white,nonhispanic,F,F,1314,0

In [84]:
bins = [-1, 1440, 10080, 43200, float('inf')]
labels = ['same_day', '1_week', '1_month', '1_month_plus']

data['duration'] = pd.cut(
    data['duration'], 
    bins=bins, 
    labels=labels, 
    right=True
)

In [85]:
data.sample(1)

,encounter_start,stop,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
10578,2017-11-07 20:41:13,2017-11-07 20:56:13,ambulatory,129.16,64.16,same_day,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-07,2017-11-21,0.0,1.0,NaN,NaN,NaN,NaN,27,None,white,nonhispanic,F,F,1728,0

In [86]:
data.isnull().sum()[data.isnull().sum()>0].reset_index(name = 'null_counts')

                      index  null_counts
0          total_procedures        32274
1        avg_procedure_cost        32274
2           total_medicines        26077
3    avg_base_medicine_cost        26077
4   avg_total_medicine_cost        26077
5   reasons_for_medications        26077
6           condition_start        45696
7             condition_end        48884
8      is_ongoing_condition        45696
9          total_conditions        45696
10           careplan_start        49874
11             careplan_end        51395
12      is_ongoing_careplan        49874
13          total_careplans        49874
14                  marital         9718

In [87]:
data.columns

Index(['encounter_start', 'stop', 'encounterclass', 'base_encounter_cost',
       'payer_coverage', 'duration', 'total_procedures', 'avg_procedure_cost',
       'total_medicines', 'avg_base_medicine_cost', 'avg_total_medicine_cost',
       'reasons_for_medications', 'condition_start', 'condition_end',
       'is_ongoing_condition', 'total_conditions', 'careplan_start',
       'careplan_end', 'is_ongoing_careplan', 'total_careplans', 'age_as_2022',
       'marital', 'race', 'ethnicity', 'patient_gender', 'provider_gender',
       'utilization', 'caused_readmission'],
      dtype='object')

In [88]:
data[['total_procedures', 'avg_procedure_cost', 'total_medicines',
       'avg_base_medicine_cost', 'avg_total_medicine_cost',
       'reasons_for_medications', 'total_conditions', 'total_careplans']] = data[['total_procedures', 'avg_procedure_cost', 'total_medicines',
       'avg_base_medicine_cost', 'avg_total_medicine_cost',
       'reasons_for_medications', 'total_conditions', 'total_careplans']].fillna(0)

In [89]:
data[['marital']] =data[['marital']].fillna('unknown')

In [90]:
data[['is_ongoing_condition', 'is_ongoing_careplan']] = data[['is_ongoing_condition', 'is_ongoing_careplan']].fillna(-1)

In [91]:
data.isnull().sum()[data.isnull().sum()>0].reset_index(name = 'null_counts')

             index  null_counts
0  condition_start        45696
1    condition_end        48884
2   careplan_start        49874
3     careplan_end        51395

In [92]:
data['marital']=np.where(data['marital'] =='M','MARRIED',np.where(data['marital']=='S','SINGLE','UNKNOWN'))

In [93]:
data['encounterclass']=data['encounterclass'].apply(lambda x: x.upper())

In [94]:
data.head()

,encounter_start,stop,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
34106,2010-11-09 15:06:37,2010-11-09 15:36:37,WELLNESS,129.16,129.16,same_day,1.0,648.01,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,25,0
34107,2011-11-15 15:06:37,2011-11-15 15:21:37,WELLNESS,129.16,129.16,same_day,0.0,0.00,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,25,0
34108,2012-08-03 15:06:37,2012-08-03 15:36:37,AMBULATORY,129.16,54.16,same_day,1.0,2230.40,0.0,0.00,0.00,0.0,2012-08-03,2012-08-11,0.0,1.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,1616,0
34109,2012-10-14 15:06:37,2012-10-14 15:21:37,AMBULATORY,129.16,54.16,same_day,0.0,0.00,1.0,20.48,20.48,1.0,2012-10-14,2012-10-25,0.0,1.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,1616,0
34110,2012-11-20 15:06:37,2012-11-20 15:36:37,WELLNESS,129.16,129.16,same_day,1.0,590.58,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,25,0

In [95]:
data['race']=data['race'].apply(lambda x: x.upper())

In [96]:
data['ethnicity']=data['ethnicity'].apply(lambda x: x.upper())

In [97]:
data.drop(columns=['stop'],inplace=True)

In [98]:
data.head()

,encounter_start,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
34106,2010-11-09 15:06:37,WELLNESS,129.16,129.16,same_day,1.0,648.01,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0
34107,2011-11-15 15:06:37,WELLNESS,129.16,129.16,same_day,0.0,0.00,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0
34108,2012-08-03 15:06:37,AMBULATORY,129.16,54.16,same_day,1.0,2230.40,0.0,0.00,0.00,0.0,2012-08-03,2012-08-11,0.0,1.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,1616,0
34109,2012-10-14 15:06:37,AMBULATORY,129.16,54.16,same_day,0.0,0.00,1.0,20.48,20.48,1.0,2012-10-14,2012-10-25,0.0,1.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,1616,0
34110,2012-11-20 15:06:37,WELLNESS,129.16,129.16,same_day,1.0,590.58,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0

In [99]:
data['condition_duration']=pd.to_datetime(data['condition_end']) - pd.to_datetime(data['condition_start'])

In [100]:
data['careplan_duration']=pd.to_datetime(data['careplan_end']) - pd.to_datetime(data['careplan_start'])

In [101]:
data.drop(columns=['condition_start','condition_end','careplan_start','careplan_end'],inplace=True)

In [102]:
data.sample(5)

,encounter_start,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,is_ongoing_condition,total_conditions,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission,condition_duration,careplan_duration
41731,2009-03-23 13:57:11,URGENTCARE,129.16,0.00,same_day,1.0,40488.38,0.0,0.00,0.00,0.0,-1.0,0.0,-1.0,0.0,100,MARRIED,WHITE,NONHISPANIC,M,F,742,1,NaT,NaT
4796,2015-04-17 04:27:38,OUTPATIENT,129.16,89.16,same_day,1.0,18479.71,4.0,126.54,126.54,1.0,-1.0,0.0,-1.0,0.0,77,MARRIED,BLACK,NONHISPANIC,M,M,473,1,NaT,NaT
37953,2004-10-04 04:30:39,WELLNESS,129.16,69.16,same_day,1.0,461.48,0.0,0.00,0.00,0.0,-1.0,0.0,-1.0,0.0,46,MARRIED,WHITE,NONHISPANIC,M,M,121,0,NaT,NaT
23303,1986-01-20 15:08:54,WELLNESS,129.16,59.16,same_day,0.0,0.00,0.0,0.00,0.00,0.0,1.0,1.0,1.0,1.0,54,MARRIED,WHITE,NONHISPANIC,F,F,97,0,NaT,NaT
36333,2019-11-17 13:12:11,OUTPATIENT,129.16,0.00,same_day,0.0,0.00,0.0,0.00,0.00,0.0,-1.0,0.0,-1.0,0.0,34,MARRIED,WHITE,HISPANIC,F,F,1682,1,NaT,NaT

In [103]:
data[['total_procedures','total_medicines','reasons_for_medications','is_ongoing_condition','total_conditions','is_ongoing_careplan','total_careplans']] =data[['total_procedures','total_medicines','reasons_for_medications','is_ongoing_condition','total_conditions','is_ongoing_careplan','total_careplans']].astype('Int64')

In [105]:
data.head()

,encounter_start,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,is_ongoing_condition,total_conditions,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission,condition_duration,careplan_duration
34106,2010-11-09 15:06:37,WELLNESS,129.16,129.16,same_day,1,648.01,0,0.00,0.00,0,-1,0,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0,NaT,NaT
34107,2011-11-15 15:06:37,WELLNESS,129.16,129.16,same_day,0,0.00,0,0.00,0.00,0,-1,0,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0,NaT,NaT
34108,2012-08-03 15:06:37,AMBULATORY,129.16,54.16,same_day,1,2230.40,0,0.00,0.00,0,0,1,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,1616,0,8 days,NaT
34109,2012-10-14 15:06:37,AMBULATORY,129.16,54.16,same_day,0,0.00,1,20.48,20.48,1,0,1,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,1616,0,11 days,NaT
34110,2012-11-20 15:06:37,WELLNESS,129.16,129.16,same_day,1,590.58,0,0.00,0.00,0,-1,0,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0,NaT,NaT

## **Exporting the data**

In [106]:
data.to_csv(r"C:\Users\Rano's PC\Machine\github_repo_cloned\my-personal-projects\synthea readmission analysis\data\processed_data\processed_synthea_data.csv",index=False)