# NOTEBOOK FOR CLEANING AND AGGREGATING THE `SYNTHEA` DATASET

I need to create some aggregated tables, in order to proceed in my analysis

In [1]:
import sys, os
sys.path.append(os.path.abspath(r"C:\Users\Rano's PC\Machine\github_repo_cloned\my-personal-projects\synthea readmission analysis"))
import pandas as pd
import numpy as np
from sqlalchemy import create_engine,text

import src.functions as F

In [2]:
engine = F.get_engine()

In [3]:
engine

Engine(mysql+pymysql://root:***@localhost:3306/synthea_medical_dataset)

In [51]:
necessary_tables = ['encounters','allergies','careplans',
                    'conditions','medications',
                    'procedures','patients','providers']

In [91]:
F.select('encounters').head(1)

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23T17:45:28Z,2010-01-23T18:10:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e002090d-4e92-300e-b41e-7d1f21dee4c6,e6283e46-fd81-3611-9459-0edb1c3da357,6e2f1a2d-27bd-3701-8d08-dae202c58632,ambulatory,185345009,Encounter for symptom,129.16,129.16,54.16,10509002.0,Acute bronchitis (disorder)

In [92]:
F.find_nulls('encounters')

           column_names  null_values
0                    Id            0
1                 START            0
2                  STOP            0
3               PATIENT            0
4          ORGANIZATION            0
5              PROVIDER            0
6                 PAYER            0
7        ENCOUNTERCLASS            0
8                  CODE            0
9           DESCRIPTION            0
10  BASE_ENCOUNTER_COST            0
11     TOTAL_CLAIM_COST            0
12       PAYER_COVERAGE            0
13           REASONCODE        39569
14    REASONDESCRIPTION        39569

In [93]:
# Reforming the date values
query = """
update encounters
set start = str_to_date(
    trim(replace(replace(replace(start, '"', ''), '\r', ''), '\n', '')),
    '%Y-%m-%dT%H:%i:%sZ'
);
"""
F.run(query)

query = """
ALTER TABLE encounters
MODIFY start datetime;
"""
F.run(query)

In [94]:
# Reforming the date values
query = """
update encounters
set stop = str_to_date(
    trim(replace(replace(replace(stop, '"', ''), '\r', ''), '\n', '')),
    '%Y-%m-%dT%H:%i:%sZ'
);
"""
F.run(query)

query = """
ALTER TABLE encounters
MODIFY stop datetime;
"""
F.run(query)

In [95]:
F.sql('select count(distinct code) as total_code, count(distinct description) as total_description from encounters')

   total_code  total_description
0          43                 49

In [96]:
F.sql('select count(distinct reasoncode) as total_code, count(distinct reasondescription) as total_description from encounters')

   total_code  total_description
0          80                 80

In [97]:
F.select('encounters').head(1)

,Id,start,stop,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e002090d-4e92-300e-b41e-7d1f21dee4c6,e6283e46-fd81-3611-9459-0edb1c3da357,6e2f1a2d-27bd-3701-8d08-dae202c58632,ambulatory,185345009,Encounter for symptom,129.16,129.16,54.16,10509002.0,Acute bronchitis (disorder)

In [98]:
query = '''
    alter table encounters
    drop column code,
    drop column total_claim_cost,
    drop column reasoncode
'''
F.run(query)

In [99]:
query = '''
    alter table encounters
    drop column organization,
    drop column payer
'''
F.run(query)

In [100]:
F.select('encounters')

,Id,start,stop,PATIENT,PROVIDER,ENCOUNTERCLASS,DESCRIPTION,BASE_ENCOUNTER_COST,PAYER_COVERAGE,REASONDESCRIPTION
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e6283e46-fd81-3611-9459-0edb1c3da357,ambulatory,Encounter for symptom,129.16,54.16,Acute bronchitis (disorder)
1,e88bc3a9-007c-405e-aabc-792a38f4aa2b,2012-01-23 17:45:28,2012-01-23 18:00:28,034e9e3b-2def-4559-bb2a-7850888ae060,6f1d59a7-a5bd-3cf9-9671-5bad2f351c28,wellness,General examination of patient (procedure),129.16,129.16,None
2,8f104aa7-4ca9-4473-885a-bba2437df588,2001-05-01 15:02:18,2001-05-01 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,af01a385-31d3-3c77-8fdb-2867fe88df2f,ambulatory,Encounter for symptom,129.16,0.00,Sinusitis (disorder)
3,b85c339a-6076-43ed-b9d0-9cf013dec49d,2011-07-28 15:02:18,2011-07-28 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,bb17e691-262b-3546-93d5-d88e7de93246,wellness,General examination of patient (procedure),129.16,0.00,None
4,dae2b7cb-1316-4b78-954f-fa610a6c6d0e,2010-07-27 12:58:08,2010-07-27 13:28:08,10339b10-3cd1-4ac3-ac13-ec26728cb592,7ed6b84a-b847-3744-9d42-15c42297a0c2,wellness,General examination of patient (procedure),129.16,129.16,None

In [101]:
query = '''
    alter table encounters
    add column duration float
'''
F.run(query)

In [102]:
query = '''
    update encounters
    set duration = timestampdiff(minute,start,stop)
'''
F.run(query)

In [103]:
F.select('encounters')

,Id,start,stop,PATIENT,PROVIDER,ENCOUNTERCLASS,DESCRIPTION,BASE_ENCOUNTER_COST,PAYER_COVERAGE,REASONDESCRIPTION,duration
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e6283e46-fd81-3611-9459-0edb1c3da357,ambulatory,Encounter for symptom,129.16,54.16,Acute bronchitis (disorder),25.0
1,e88bc3a9-007c-405e-aabc-792a38f4aa2b,2012-01-23 17:45:28,2012-01-23 18:00:28,034e9e3b-2def-4559-bb2a-7850888ae060,6f1d59a7-a5bd-3cf9-9671-5bad2f351c28,wellness,General examination of patient (procedure),129.16,129.16,None,15.0
2,8f104aa7-4ca9-4473-885a-bba2437df588,2001-05-01 15:02:18,2001-05-01 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,af01a385-31d3-3c77-8fdb-2867fe88df2f,ambulatory,Encounter for symptom,129.16,0.00,Sinusitis (disorder),15.0
3,b85c339a-6076-43ed-b9d0-9cf013dec49d,2011-07-28 15:02:18,2011-07-28 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,bb17e691-262b-3546-93d5-d88e7de93246,wellness,General examination of patient (procedure),129.16,0.00,None,15.0
4,dae2b7cb-1316-4b78-954f-fa610a6c6d0e,2010-07-27 12:58:08,2010-07-27 13:28:08,10339b10-3cd1-4ac3-ac13-ec26728cb592,7ed6b84a-b847-3744-9d42-15c42297a0c2,wellness,General examination of patient (procedure),129.16,129.16,None,30.0

In [105]:
encounters_agg = F.sql('select * from encounters')

***

In [33]:
F.select('careplans')

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,d2500b8c-e830-433a-8b9d-368d30741520,2010-01-23,2012-01-23,034e9e3b-2def-4559-bb2a-7850888ae060,d0c40d10-8d87-447e-836e-99d26ad52ea5,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
1,07d9ddd8-dfa1-4e43-9bfe-39f63f4ace15,2011-05-13,2011-08-02,10339b10-3cd1-4ac3-ac13-ec26728cb592,e1ab4933-07a1-49f0-b4bd-05500919061d,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
2,a3bb6e99-3b99-44b3-974c-e230b4511b5c,2011-12-31,2012-11-30,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,16300c56-a035-4126-a656-68c093da6dfc,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
3,9f5284b7-425a-486a-b36e-ab818c018f2f,2016-12-29,2017-01-05,034e9e3b-2def-4559-bb2a-7850888ae060,3b639086-5fbc-4720-8c31-e8c8c0f1d660,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
4,47ede16c-c216-4f81-a16b-0e858de9cdc3,2017-01-22,2017-02-12,10339b10-3cd1-4ac3-ac13-ec26728cb592,4ec8d55b-05fc-42a5-bfa3-1e233874a362,225358003,Wound care,284551006.0,Laceration of foot

In [84]:
query = '''
    select encounter,
    min(start) as careplan_start,
    max(stop) as careplan_end,
    case when max(stop) is null then 1 else 0 end as is_ongoing_careplan,
    count(distinct code) as total_careplans
    from careplans
    group by encounter
'''
careplan_agg = F.sql(query)

***

In [44]:
F.select('conditions')

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2001-05-01,None,1d604da9-9a81-4ba9-80c2-de3375d59b40,8f104aa7-4ca9-4473-885a-bba2437df588,40055000,Chronic sinusitis (disorder)
1,2011-08-09,2011-08-16,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,9d35ec9f-352a-4629-92ef-38eae38437e7,444814009,Viral sinusitis (disorder)
2,2011-11-16,2011-11-26,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,ae7555a9-eaff-4c09-98a7-21bc6ed1b1fd,195662009,Acute viral pharyngitis (disorder)
3,2011-05-13,2011-05-27,10339b10-3cd1-4ac3-ac13-ec26728cb592,e1ab4933-07a1-49f0-b4bd-05500919061d,10509002,Acute bronchitis (disorder)
4,2011-02-06,2011-02-14,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,b8f76eba-7795-4dcd-a544-f27ac2ef3d46,195662009,Acute viral pharyngitis (disorder)

In [83]:
query = '''
    select encounter,
    min(start) as condition_start,
    max(stop) as condition_end,
    case when max(stop) is null then 1 else 0 end as is_ongoing_condition,
    count(distinct code) as total_conditions
    from conditions
    group by encounter
'''
condition_agg = F.sql(query)

***

In [47]:
F.select('medications')

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2010-05-05T00:26:23Z,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,1e0d6b0e-1711-4a25-99f9-b1c700c9b260,389221,Etonogestrel 68 MG Drug Implant,677.08,0.0,12,8124.96,NaN,None
1,2011-04-30T00:26:23Z,2012-04-24T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,389221,Etonogestrel 68 MG Drug Implant,624.09,0.0,12,7489.08,NaN,None
2,2012-04-24T00:26:23Z,2013-04-19T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,7253a9f9-6f6d-429a-926a-7b1d424eae3f,748856,Yaz 28 Day Pack,43.32,0.0,12,519.84,NaN,None
3,2011-05-13T12:58:08Z,2011-05-27T12:58:08Z,10339b10-3cd1-4ac3-ac13-ec26728cb592,d47b3510-2895-3b70-9897-342d681c769d,e1ab4933-07a1-49f0-b4bd-05500919061d,313782,Acetaminophen 325 MG Oral Tablet,8.14,0.0,1,8.14,10509002.0,Acute bronchitis (disorder)
4,2011-12-08T15:02:18Z,2011-12-22T15:02:18Z,1d604da9-9a81-4ba9-80c2-de3375d59b40,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,792fae81-a007-44b0-8221-46953737b089,562251,Amoxicillin 250 MG / Clavulanate 125 MG Oral T...,11.91,0.0,1,11.91,444814009.0,Viral sinusitis (disorder)

In [50]:
query = '''
    select encounter, 
    count(distinct code) as total_medicines,
    round(avg(base_cost),2) as avg_base_medicine_cost,
    round(avg(totalcost),2) as avg_total_medicine_cost,
    count(distinct reasoncode) as reasons_for_medications 
    from medications
    group by encounter;
'''
medicine_agg = F.sql(query)

***

In [52]:
F.select('procedures')

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,169553002,Insertion of subcutaneous contraceptive,14896.56,NaN,None
1,2010-07-27T12:58:08Z,10339b10-3cd1-4ac3-ac13-ec26728cb592,dae2b7cb-1316-4b78-954f-fa610a6c6d0e,430193006,Medication Reconciliation (procedure),726.51,NaN,None
2,2010-11-20T03:04:34Z,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,7ff86631-0378-4bfc-92ce-1edd697eb18e,430193006,Medication Reconciliation (procedure),788.50,NaN,None
3,2011-02-07T03:04:34Z,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,b8f76eba-7795-4dcd-a544-f27ac2ef3d46,117015009,Throat culture (procedure),2070.44,195662009.0,Acute viral pharyngitis (disorder)
4,2011-04-19T03:04:34Z,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,640837d9-845a-433c-9fad-47426664a69d,117015009,Throat culture (procedure),2479.39,195662009.0,Acute viral pharyngitis (disorder)

In [55]:
query = '''
    select encounter, 
    count(distinct code) as total_procedures,
    round(avg(base_cost),2) as avg_procedure_cost
    from procedures
    group by encounter
'''
procedure_agg = F.sql(query)

***

In [56]:
F.select('patients')

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,None,999-76-6866,S99984236,X19277260X,Mr.,Jos Eduardo181,Gmez206,None,...,Marigot Saint Andrew Parish DM,427 Balistreri Way Unit 19,Chicopee,Massachusetts,Hampden County,1013.0,42.228354,-72.562951,271227.08,1334.88
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,None,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,None,...,Danvers Massachusetts US,422 Farrell Path Unit 69,Somerville,Massachusetts,Middlesex County,2143.0,42.360697,-71.126531,793946.01,3204.49
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,None,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,None,...,Springfield Massachusetts US,1056 Harris Lane Suite 70,Chicopee,Massachusetts,Hampden County,1020.0,42.181642,-72.608842,574111.90,2606.40
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,None,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,None,...,Yarmouth Massachusetts US,999 Kuhn Forge,Lowell,Massachusetts,Middlesex County,1851.0,42.636143,-71.343255,935630.30,8756.19
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,None,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,None,...,Patras Achaea GR,1050 Lindgren Extension Apt 38,Boston,Massachusetts,Suffolk County,2135.0,42.352434,-71.028610,598763.07,3772.20

In [58]:
query = '''
    select
    id as patient_id,
    case when 
    deathdate is null then timestampdiff(year,birthdate,"2021-12-31") 
    else timestampdiff(year,birthdate,deathdate)
    end as age_as_2022,
    marital,
    race,
    ethnicity,
    gender as patient_gender
    from patients;
'''
patient_agg = F.sql(query)

***

In [59]:
F.select('providers')

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,LAT,LON,UTILIZATION
0,3421aa75-dec7-378d-a9e0-0bc764e4cb0d,ef58ea08-d883-3957-8300-150554edc8fb,Tomas436 Sauer652,M,GENERAL PRACTICE,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,1557
1,c9b3c857-2e24-320c-a79a-87b8a60de63c,69176529-fd1f-3b3f-abce-a0a3626769eb,Suzette512 Monahan736,F,GENERAL PRACTICE,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,2296
2,0359f968-d1a6-30eb-b1cc-e6cc0b4d3513,5e765f2b-e908-3888-9fc7-df2cb87beb58,Gaynell126 Streich926,F,GENERAL PRACTICE,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,2287
3,446d1609-858f-3a54-8a52-0c4eacedd00e,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,Patricia625 Salgado989,F,GENERAL PRACTICE,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,1327
4,e6283e46-fd81-3611-9459-0edb1c3da357,e002090d-4e92-300e-b41e-7d1f21dee4c6,Jeanmarie510 Beatty507,F,GENERAL PRACTICE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,3199

In [61]:
query = '''
    select id as provider_id,
    gender as provider_gender,
    utilization 
    from providers;
'''
provider_agg = F.sql(query)

In [73]:
encounters_agg.sample(1)

,Id,start,PATIENT,PROVIDER,ENCOUNTERCLASS,DESCRIPTION,BASE_ENCOUNTER_COST,PAYER_COVERAGE,REASONDESCRIPTION,duration
39248,bd73477c-4677-4c8d-a570-a787c8e90542,1991-09-01 08:06:12,ef2f5b33-d0ac-479e-8c9f-a7abba988265,5c0cfe05-f379-3013-8c5c-1452f420d019,wellness,General examination of patient (procedure),129.16,54.16,None,30.0

In [106]:
agg_tables = [encounters_agg,patient_agg,careplan_agg,procedure_agg,condition_agg,medicine_agg,provider_agg]

In [107]:
for table in agg_tables:
    display(table.sample(3))

,Id,start,stop,PATIENT,PROVIDER,ENCOUNTERCLASS,DESCRIPTION,BASE_ENCOUNTER_COST,PAYER_COVERAGE,REASONDESCRIPTION,duration
22647,6d26e223-b8bf-4977-bd69-c8ddfaa5b701,2016-05-03 11:09:02,2016-05-03 11:24:02,f9149e25-1799-44bf-a5aa-449b41161345,f4eb93d1-9187-3cfb-83a4-6d9cd77f7df6,outpatient,Encounter for check up (procedure),129.16,0.00,None,15.0
35457,87dab346-259e-48de-9bc5-a2d7eeaa836c,2016-07-14 01:41:15,2016-07-14 01:56:15,5c06120a-9af5-4204-951b-7a8bfc465df3,98a31629-e9a3-304d-a821-ebb8d085c535,urgentcare,Urgent care clinic (procedure),129.16,0.00,None,15.0
36397,04aa6a72-8ce8-47e0-890a-0f0762ab09f0,2016-10-12 04:20:13,2016-10-12 04:50:13,690124c3-77f8-490a-abd1-94d318680748,40c18305-97a3-325d-bf72-a2846a1b01ad,wellness,Well child visit (procedure),129.16,129.16,None,30.0

,patient_id,age_as_2022,marital,race,ethnicity,patient_gender
840,2e00e359-abc8-49aa-b98c-c0cc554acf34,53,M,white,nonhispanic,F
198,1dceeee2-ab03-4adb-8cc9-05954d85d625,18,None,white,nonhispanic,M
585,5f1c9186-80b0-405f-9f74-c4e26beb1d01,31,M,white,nonhispanic,F

,encounter,careplan_start,careplan_end,is_ongoing_careplan,total_careplans
1448,6a1540ff-5a89-4977-899b-ff5dda88a304,2016-03-11,2016-03-25,0,1
2357,ab38838f-6d31-4d04-b227-70fe4912afdc,2015-08-24,2015-08-31,0,1
1156,5588a5b8-683a-4720-8392-8298e18584e5,2003-10-29,2004-06-02,0,1

,encounter,total_procedures,avg_procedure_cost
7210,571bdf78-508b-4c18-88c1-47939e48af5b,1,516.65
15617,bda4d9eb-34fc-4230-b22b-9f7a6b59f11f,1,15753.59
16769,cbb24389-8e1a-491b-a375-e15e748927a2,1,10907.41

,encounter,condition_start,condition_end,is_ongoing_condition,total_conditions
5777,c02479fa-e9d6-49ff-a9e0-918bcd00add4,2005-12-02,None,1,2
4415,92f00878-ef1d-4c4b-a491-9f96c7bf5c0f,1972-09-28,None,1,1
5066,a82e886b-ebc3-42b2-ab75-7d8aab92a51d,2018-07-23,2018-07-30,0,1

,encounter,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications
11478,6b311ee6-5070-43a0-9062-20891dd6d0ee,1,201.58,201.58,1
1296,0c5e3b33-857e-40d8-b81a-31debb547ad3,2,261.10,3133.26,1
17403,a321c3ae-7bdc-41c0-a014-c241b0b31363,1,263.49,3161.88,1

                               provider_id provider_gender  utilization
1207  b65ca520-3c31-31c0-89d7-0a716b219926               F            0
5797  a901f5c7-170f-3070-ace0-822fefaa320a               M          116
5297  cce4af2d-aa27-38cc-b993-6ece211c3da6               M            0

In [108]:
encounters_agg.columns = encounters_agg.columns.str.lower()

In [109]:
encounters_agg.rename(columns={'id':'encounter','patient':'patient_id','provider':'provider_id'},inplace=True)

In [110]:
data = (encounters_agg.merge(procedure_agg,on='encounter',how='left')
    .merge(medicine_agg,on='encounter',how='left')
    .merge(condition_agg,on='encounter',how='left')
    .merge(careplan_agg,on='encounter',how='left')
    .merge(patient_agg,on='patient_id',how='left')
    .merge(provider_agg,on='provider_id',how='left'))

In [111]:
pd.set_option('display.max_columns',None)

In [112]:
data.head()

,encounter,start,stop,patient_id,provider_id,encounterclass,description,base_encounter_cost,payer_coverage,reasondescription,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e6283e46-fd81-3611-9459-0edb1c3da357,ambulatory,Encounter for symptom,129.16,54.16,Acute bronchitis (disorder),25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-01-23,2012-01-23,0.0,1.0,38,M,white,nonhispanic,M,F,3199
1,e88bc3a9-007c-405e-aabc-792a38f4aa2b,2012-01-23 17:45:28,2012-01-23 18:00:28,034e9e3b-2def-4559-bb2a-7850888ae060,6f1d59a7-a5bd-3cf9-9671-5bad2f351c28,wellness,General examination of patient (procedure),129.16,129.16,None,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,M,white,nonhispanic,M,F,33
2,8f104aa7-4ca9-4473-885a-bba2437df588,2001-05-01 15:02:18,2001-05-01 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,af01a385-31d3-3c77-8fdb-2867fe88df2f,ambulatory,Encounter for symptom,129.16,0.00,Sinusitis (disorder),15.0,NaN,NaN,NaN,NaN,NaN,NaN,2001-05-01,None,1.0,1.0,NaN,NaN,NaN,NaN,32,M,white,hispanic,M,M,2585
3,b85c339a-6076-43ed-b9d0-9cf013dec49d,2011-07-28 15:02:18,2011-07-28 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,bb17e691-262b-3546-93d5-d88e7de93246,wellness,General examination of patient (procedure),129.16,0.00,None,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,M,white,hispanic,M,F,58
4,dae2b7cb-1316-4b78-954f-fa610a6c6d0e,2010-07-27 12:58:08,2010-07-27 13:28:08,10339b10-3cd1-4ac3-ac13-ec26728cb592,7ed6b84a-b847-3744-9d42-15c42297a0c2,wellness,General examination of patient (procedure),129.16,129.16,None,30.0,1.0,726.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,M,white,nonhispanic,M,M,59

In [113]:
df = data.copy()

# convert to datetime if not already
df['start'] = pd.to_datetime(df['start'])

# sort to compare later encounters
df = df.sort_values(['patient_id', 'start'])

# self-merge on patient
dup = df.merge(
    df,
    on='patient_id',
    suffixes=('_first', '_second')
)

# filter conditions
dup = dup[
    (dup['start_second'] > dup['start_first']) &
    (dup['start_second'] <= dup['start_first'] + pd.Timedelta(days=30))
]

# distinct next encounter ids
readmission_encounter_id = dup['encounter_second'].unique()

In [114]:
data['is_readmission']=data['encounter'].isin(readmission_encounter_id).astype(int)

In [117]:
data.sample(1)

,encounter,start,stop,patient_id,provider_id,encounterclass,description,base_encounter_cost,payer_coverage,reasondescription,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,is_readmission
29888,f9a4296b-69dd-4424-a218-c9d90607db11,2019-08-09 01:33:55,2019-08-09 02:33:55,ab88386a-1c0d-4d1c-89fc-b38f631b3edc,77a7881d-6dd5-32e1-9e18-521a59749572,ambulatory,Prenatal visit,129.16,0.0,Normal pregnancy,60.0,3.0,5673.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,M,white,nonhispanic,F,M,1800,1

In [118]:
data.drop(columns=['encounter','patient_id','provider_id'],inplace=True)

In [119]:
data.rename(columns={'start':'encounter_start','end':'encounter_finish'},inplace=True)

In [120]:
data.sample(1)

,encounter_start,stop,encounterclass,description,base_encounter_cost,payer_coverage,reasondescription,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,is_readmission
45405,1972-08-14 09:30:42,1972-08-14 12:45:42,ambulatory,Encounter for problem (procedure),129.16,0.0,None,195.0,1.0,516.65,1.0,263.49,263.49,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62,S,white,nonhispanic,M,F,2650,1

In [122]:
bins   = [-1, 0, 6, 30, float('inf')]
labels = ['same_day', '1_week', '1_month', '1_month +']

data['duration'] = pd.cut(data['duration'], bins=bins, labels=labels, right=True)

In [123]:
data.sample(1)

,encounter_start,stop,encounterclass,description,base_encounter_cost,payer_coverage,reasondescription,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,is_readmission
1160,2014-11-07 04:58:21,2014-11-07 05:13:21,outpatient,Encounter for check up (procedure),129.16,0.0,None,1_month,NaN,NaN,4.0,46.78,46.78,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,S,white,nonhispanic,F,F,2159,1

In [127]:
data.sample(5)

,encounter_start,stop,encounterclass,description,base_encounter_cost,payer_coverage,reasondescription,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,is_readmission
24964,2017-01-01 06:47:40,2017-01-01 07:02:40,wellness,General examination of patient (procedure),129.16,129.16,None,1_month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,M,white,nonhispanic,M,F,31,0
15504,2019-02-26 09:55:43,2019-02-26 12:10:43,ambulatory,Encounter for problem (procedure),129.16,89.16,None,1_month +,1.0,516.65,1.0,263.49,263.49,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,S,white,nonhispanic,M,F,4828,1
51812,2014-10-31 20:08:37,2014-11-01 01:23:37,ambulatory,Prenatal initial visit,129.16,64.16,Normal pregnancy,1_month +,20.0,3452.47,NaN,NaN,NaN,NaN,2014-10-31,2015-06-19,0.0,1.0,2014-10-31,2015-06-19,0.0,1.0,28,None,white,nonhispanic,F,F,1760,0
23784,2015-09-04 19:48:46,2015-09-04 20:18:46,wellness,General examination of patient (procedure),129.16,129.16,None,1_month,1.0,709.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,M,white,nonhispanic,F,M,45,0
48960,2015-11-05 12:22:55,2015-11-05 12:52:55,wellness,General examination of patient (procedure),129.16,129.16,None,1_month,1.0,470.65,1.0,263.49,3161.88,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,M,white,nonhispanic,M,M,37,0

In [133]:
data.isnull().sum()[data.isnull().sum()>0].reset_index(name = 'null_counts')

                  index  null_counts
0     reasondescription        39569
1       condition_start        45696
2         condition_end        48884
3  is_ongoing_condition        45696
4        careplan_start        49874
5          careplan_end        51395
6   is_ongoing_careplan        49874
7               marital         9718

In [128]:
data.columns

Index(['encounter_start', 'stop', 'encounterclass', 'description',
       'base_encounter_cost', 'payer_coverage', 'reasondescription',
       'duration', 'total_procedures', 'avg_procedure_cost', 'total_medicines',
       'avg_base_medicine_cost', 'avg_total_medicine_cost',
       'reasons_for_medications', 'condition_start', 'condition_end',
       'is_ongoing_condition', 'total_conditions', 'careplan_start',
       'careplan_end', 'is_ongoing_careplan', 'total_careplans', 'age_as_2022',
       'marital', 'race', 'ethnicity', 'patient_gender', 'provider_gender',
       'utilization', 'is_readmission'],
      dtype='object')

In [132]:
data[['total_procedures', 'avg_procedure_cost', 'total_medicines',
       'avg_base_medicine_cost', 'avg_total_medicine_cost',
       'reasons_for_medications', 'total_conditions', 'total_careplans']] = data[['total_procedures', 'avg_procedure_cost', 'total_medicines',
       'avg_base_medicine_cost', 'avg_total_medicine_cost',
       'reasons_for_medications', 'total_conditions', 'total_careplans']].fillna(0)

In [136]:
data[['reasondescription','marital']] =data[['reasondescription','marital']].fillna('unknown')

In [138]:
data[['is_ongoing_condition', 'is_ongoing_careplan']] = data[['is_ongoing_condition', 'is_ongoing_careplan']].fillna(-1)

In [139]:
data.isnull().sum()[data.isnull().sum()>0].reset_index(name = 'null_counts')

             index  null_counts
0  condition_start        45696
1    condition_end        48884
2   careplan_start        49874
3     careplan_end        51395

In [142]:
data['marital']=np.where(data['marital'] =='M','MARRIED',np.where(data['marital']=='S','SINGLE','UNKNOWN'))

In [146]:
data['encounterclass']=data['encounterclass'].apply(lambda x: x.upper())

In [152]:
data.head()

,encounter_start,stop,encounterclass,description,base_encounter_cost,payer_coverage,reasondescription,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,is_readmission
0,2010-01-23 17:45:28,2010-01-23 18:10:28,AMBULATORY,Encounter for symptom,129.16,54.16,Acute bronchitis (disorder),1_month,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,-1.0,0.0,2010-01-23,2012-01-23,0.0,1.0,38,MARRIED,WHITE,NONHISPANIC,M,F,3199,0
1,2012-01-23 17:45:28,2012-01-23 18:00:28,WELLNESS,General examination of patient (procedure),129.16,129.16,unknown,1_month,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,38,MARRIED,WHITE,NONHISPANIC,M,F,33,0
2,2001-05-01 15:02:18,2001-05-01 15:17:18,AMBULATORY,Encounter for symptom,129.16,0.00,Sinusitis (disorder),1_month,0.0,0.00,0.0,0.0,0.0,0.0,2001-05-01,None,1.0,1.0,NaN,NaN,-1.0,0.0,32,MARRIED,WHITE,HISPANIC,M,M,2585,0
3,2011-07-28 15:02:18,2011-07-28 15:17:18,WELLNESS,General examination of patient (procedure),129.16,0.00,unknown,1_month,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,32,MARRIED,WHITE,HISPANIC,M,F,58,0
4,2010-07-27 12:58:08,2010-07-27 13:28:08,WELLNESS,General examination of patient (procedure),129.16,129.16,unknown,1_month,1.0,726.51,0.0,0.0,0.0,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,29,MARRIED,WHITE,NONHISPANIC,M,M,59,0

In [150]:
data['race']=data['race'].apply(lambda x: x.upper())

In [151]:
data['ethnicity']=data['ethnicity'].apply(lambda x: x.upper())

In [153]:
data.drop(columns=['stop'],inplace=True)

In [154]:
data.head()

,encounter_start,encounterclass,description,base_encounter_cost,payer_coverage,reasondescription,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,is_readmission
0,2010-01-23 17:45:28,AMBULATORY,Encounter for symptom,129.16,54.16,Acute bronchitis (disorder),1_month,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,-1.0,0.0,2010-01-23,2012-01-23,0.0,1.0,38,MARRIED,WHITE,NONHISPANIC,M,F,3199,0
1,2012-01-23 17:45:28,WELLNESS,General examination of patient (procedure),129.16,129.16,unknown,1_month,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,38,MARRIED,WHITE,NONHISPANIC,M,F,33,0
2,2001-05-01 15:02:18,AMBULATORY,Encounter for symptom,129.16,0.00,Sinusitis (disorder),1_month,0.0,0.00,0.0,0.0,0.0,0.0,2001-05-01,None,1.0,1.0,NaN,NaN,-1.0,0.0,32,MARRIED,WHITE,HISPANIC,M,M,2585,0
3,2011-07-28 15:02:18,WELLNESS,General examination of patient (procedure),129.16,0.00,unknown,1_month,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,32,MARRIED,WHITE,HISPANIC,M,F,58,0
4,2010-07-27 12:58:08,WELLNESS,General examination of patient (procedure),129.16,129.16,unknown,1_month,1.0,726.51,0.0,0.0,0.0,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,29,MARRIED,WHITE,NONHISPANIC,M,M,59,0

In [164]:
data['condition_duration']=pd.to_datetime(data['condition_end']) - pd.to_datetime(data['condition_start'])

In [168]:
data['careplan_duration']=pd.to_datetime(data['careplan_end']) - pd.to_datetime(data['careplan_start'])

In [170]:
data.drop(columns=['condition_start','condition_end','careplan_start','careplan_end'],inplace=True)

In [171]:
data.sample(5)

,encounter_start,encounterclass,description,base_encounter_cost,payer_coverage,reasondescription,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,is_ongoing_condition,total_conditions,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,is_readmission,condition_duration,careplan_duration
46805,1983-06-01 18:44:55,AMBULATORY,Encounter for problem,129.16,89.16,Overlapping malignant neoplasm of colon,1_month,1.0,13961.42,0.0,0.00,0.00,0.0,-1.0,0.0,-1.0,0.0,72,MARRIED,WHITE,NONHISPANIC,M,F,1413,1,NaT,NaT
39693,2002-02-02 07:53:01,WELLNESS,General examination of patient (procedure),129.16,59.16,unknown,1_month,0.0,0.00,1.0,263.49,3161.88,1.0,-1.0,0.0,-1.0,0.0,75,MARRIED,WHITE,NONHISPANIC,F,F,81,0,NaT,NaT
40496,1975-07-15 05:57:12,AMBULATORY,Encounter for problem,129.16,69.16,Anemia (disorder),1_month +,0.0,0.00,1.0,263.49,143602.05,0.0,-1.0,0.0,-1.0,0.0,67,MARRIED,WHITE,NONHISPANIC,F,F,2658,0,NaT,NaT
26076,2017-06-06 20:58:20,EMERGENCY,Obstetric emergency hospital admission,129.16,69.16,Normal pregnancy,1_month +,2.0,3728.14,0.0,0.00,0.00,0.0,-1.0,0.0,-1.0,0.0,34,SINGLE,WHITE,NONHISPANIC,F,F,1811,1,NaT,NaT
41155,1992-01-11 01:34:06,WELLNESS,General examination of patient (procedure),129.16,54.16,unknown,1_month,0.0,0.00,1.0,263.49,263.49,1.0,-1.0,0.0,-1.0,0.0,72,MARRIED,WHITE,NONHISPANIC,F,M,78,0,NaT,NaT

In [172]:
data.to_csv(r"C:\Users\Rano's PC\Machine\github_repo_cloned\my-personal-projects\synthea readmission analysis\data\processed_data\processed_synthea_data.csv",index=False)