# **NOTEBOOK FOR CLEANING AND AGGREGATING THE OULAD DATASET**

***I need to create some aggregated tables, in order to proceed in my analysis***

## **Creating Connection with the database**

In [1]:
%load_ext autoreload
%autoreload 2
import sys, os
sys.path.append(os.path.abspath(r"C:\Users\Rano's PC\Machine\github_repo_cloned\my-personal-projects\olist review analysis"))
import pandas as pd
import numpy as np
from sqlalchemy import create_engine,text

import src.functions as F

In [2]:
engine = F.get_engine()

In [3]:
engine

Engine(mysql+pymysql://root:***@localhost:3306/olist_shopping_dataset)

## **Creating aggregated tables**

In [4]:
query = 'show tables in olist_shopping_dataset'
tables = F.sql(query)
table_names = [col[0] for col in tables.values.tolist()]

In [5]:
table_names

['customers',
 'olist_customers_dataset',
 'olist_geolocation_dataset',
 'olist_order_items_dataset',
 'olist_order_payments_dataset',
 'olist_order_reviews_dataset',
 'olist_orders_dataset',
 'olist_products_dataset',
 'olist_sellers_dataset',
 'order_items',
 'order_payments',
 'order_reviews',
 'orders',
 'product_category_name_translation',
 'products',
 'sellers']

In [6]:
imp_tables = ['customers',
 'order_items',
 'order_payments',
 'order_reviews',
 'orders',
 'products',
 'sellers']

In [7]:
F.select('customers')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [8]:
query = '''
    select distinct customer_unique_id, customer_city from customers
'''
customers_agg = F.sql(query)

In [9]:
F.select('order_items')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [10]:
query = '''
    select order_id,
    count(distinct product_id) as total_unique_products,
    max(order_item_id) as total_products,
    round(avg(price)) as avg_price,
    round(avg(freight_value)) as avg_freight,
    case when count(distinct seller_id) > 1 then 1 else 0 end as is_multiple_seller
    from order_items
    group by order_id
'''
order_items_agg = F.sql(query)

In [11]:
F.select('order_payments')

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [12]:
F.sql('select * from order_payments where payment_sequential > 1 order by order_id desc').head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,ffc730a0615d28ec19f9cad02cb41442,2,credit_card,1,12.63
1,ffa39020fe7c8a3e907320e1bec4b985,2,voucher,1,64.01
2,ffa1dd97810de91a03abd7bd76d2fed1,2,voucher,1,418.73
3,ff978de32e717acd3b5abe1fb069d2b6,2,voucher,1,10.80
4,ff978de32e717acd3b5abe1fb069d2b6,3,voucher,1,0.66

In [13]:
query = '''
    select order_id,
    max(payment_sequential) as max_attempt,
    count(distinct payment_type) as payment_type_used,
    max(payment_installments) as installment_duration,
    sum(payment_value) as total_paid_value
    from order_payments
    group by order_id
'''
payment_agg = F.sql(query)

In [14]:
F.select('order_reviews')

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [15]:
query = '''
    alter table order_reviews
    modify review_creation_date date
'''
F.run(query)

In [16]:
query = '''
    alter table order_reviews
    modify review_score int
'''
F.run(query)

In [17]:
F.sql('describe order_reviews')

                     Field  Type Null Key Default Extra
0                review_id  text  YES        None
1                 order_id  text  YES        None
2             review_score   int  YES        None
3     review_comment_title  text  YES        None
4   review_comment_message  text  YES        None
5     review_creation_date  date  YES        None
6  review_answer_timestamp  text  YES        None

In [18]:
query = '''
    with duplicate as (
    select *, row_number() over(partition by review_id,order_id,review_score,review_creation_date) as rn 
    from order_reviews )
    select * from duplicate
    where rn > 1
'''

F.sql(query)

Empty DataFrame
Columns: [review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp, rn]
Index: []

In [19]:
order_reviews = F.sql('select review_id,order_id,review_score,review_creation_date from order_reviews')

In [20]:
order_reviews.head()

,review_id,order_id,review_score,review_creation_date
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01

In [21]:
F.select('orders')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-02,2017-10-04 19:55:00,2017-10-10,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24,2018-07-26,2018-07-26 14:31:00,2018-08-07,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08,2018-08-08,2018-08-08 13:50:00,2018-08-17,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18,2017-11-18,2017-11-22 13:39:59,2017-12-02,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13,2018-02-13,2018-02-14 19:46:34,2018-02-16,2018-02-26

In [22]:
query = '''
    alter table orders
    modify column order_purchase_timestamp date,
    modify column order_approved_at date,
    modify column order_delivered_customer_date date,
    modify column order_estimated_delivery_date date
'''
F.run(query)

In [23]:
query = '''
    select order_id,order_status,
    datediff(order_approved_at,order_purchase_timestamp) as approval_time,
    datediff(order_delivered_customer_date,order_purchase_timestamp) as delivery_time,
    datediff(order_delivered_customer_date,order_estimated_delivery_date) as delivery_delay
    from orders
'''
orders_agg = F.sql(query)

In [24]:
F.select('products')

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [25]:
query = '''
    select product_id,
    product_category_name,
    round((product_height_cm * product_length_cm * product_width_cm) / 6000,2) as dimensional_weight
    from products
'''
product_agg = F.sql(query)

In [26]:
F.select('order_items')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [27]:
order_and_products = F.sql('select order_id,product_id from order_items')

In [28]:
order_and_products.head()

                           order_id                        product_id
0  00010242fe8c5a6d1ba2dd792cb16214  4244733e06e7ecb4970a6e2683c13e61
1  00018f77f2f0320c557190d7a144bdd3  e5f2d52b802189ee658865ca93d83a8f
2  000229ec398224ef6ca0657da4fc703e  c777355d18b72b67abbeef9df44fd0fd
3  00024acbcdf0a6daa1e931b038114c75  7634da152a4610f1595efa32f14722fc
4  00042b26cf59d7ce69dfabb4e55b4fd9  ac6c3623068f30de03045865e4e10089

In [29]:
product_agg.head()

                         product_id  product_category_name  dimensional_weight
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria                0.37
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes                1.80
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer                0.40
3  cef67bcfe19066a932b7673e239eb23d                  bebes                0.45
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas                0.74

In [30]:
order_products_agg = order_and_products.merge(product_agg,on='product_id',how='left').groupby('order_id').agg(
    {'product_id':'size',
    'product_category_name': 'nunique',
    'dimensional_weight' : 'sum'}
).reset_index()

In [31]:
order_products_agg.sample(5)

,order_id,product_id,product_category_name,dimensional_weight
23297,3c87d7e874618030c19e7e58d04556a5,2,1,1.60
72312,bbb8f308ef79e2783aa8714a4fa7e2a8,1,1,2.64
58463,989cebf7c9ca6ad7ceb7afe72d6e823a,1,1,0.61
64967,a92da206ef6383c3faea2be21c673e5d,1,1,0.58
14819,26a95c7a47327bed47c5651221bfcb18,1,1,0.94

In [32]:
F.select('sellers')

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [33]:
query = '''
    select distinct seller_id, seller_city from sellers
'''
sellers_agg = F.sql(query)

## **Formation of aggregated data**

In [34]:
data = (order_reviews.merge(order_items_agg,on='order_id',how='left').
 merge(payment_agg,on='order_id',how='left').
 merge(orders_agg,on='order_id',how='left').
 merge(order_products_agg,on='order_id',how='left'))

In [35]:
data[['total_unique_products','total_products','is_multiple_seller','max_attempt','payment_type_used','installment_duration','approval_time','delivery_time','delivery_delay','product_id','product_category_name']]=data[['total_unique_products','total_products','is_multiple_seller','max_attempt','payment_type_used','installment_duration','approval_time','delivery_time','delivery_delay','product_id','product_category_name']].astype('Int64')

In [36]:
data[['total_unique_products', 'total_products', 'avg_price',
       'avg_freight', 'is_multiple_seller']]=data[['total_unique_products', 'total_products', 'avg_price',
       'avg_freight', 'is_multiple_seller']].fillna(0)

In [37]:
data[['max_attempt', 'payment_type_used', 'installment_duration', 'total_paid_value']] = (
    data[['max_attempt', 'payment_type_used', 'installment_duration', 'total_paid_value']].fillna(0)
)

In [38]:
data['dimensional_weight'] = data['dimensional_weight'].fillna(0)

In [39]:
data[['total_unique_products', 'total_products',
        'is_multiple_seller', 'max_attempt',
       'payment_type_used', 'installment_duration',
    'approval_time', 'delivery_time', 'delivery_delay',
       'product_id', 'product_category_name']] = (data[['total_unique_products', 'total_products',
        'is_multiple_seller', 'max_attempt',
       'payment_type_used', 'installment_duration',
    'approval_time', 'delivery_time', 'delivery_delay',
       'product_id', 'product_category_name']].astype('Int64'))

In [40]:
data[['is_multiple_seller','payment_type_used']]= (data[['is_multiple_seller','payment_type_used']].astype('str'))

In [41]:
data['review_creation_date']=pd.to_datetime(data['review_creation_date'])

In [42]:
data.drop(columns=['review_id','order_id'],inplace=True)

## **Exporting the data**

In [43]:
data.to_csv(r"C:\Users\Rano's PC\Machine\github_repo_cloned\my-personal-projects\olist review analysis\data\processed_data\processed_olist_data.csv",index=False)